.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
      }
}

.clients__title {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    line-height: 1.666;
    letter-spacing: 0.03em;

    margin-bottom: 30px;

    @media (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
      }
}


.clients__list {
    display: flex;
    margin: -15px;

    @media (max-width: $desktop) {
        flex-wrap: wrap;
    }
}
  
.clients__item {
    margin: 15px;
	width: calc((100% - 60px) / 2);
	@media (min-width: 768px) {
		width: calc((100% - 90px) / 3);
	}
	@media (min-width: 1200px){
		width: calc((100% - 180px) / 6);
	}
    
}

  
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    height: 90px;
  
    color: var(--clients-svg-color);
  
    border-radius: 4px;
    border: 1px solid var(--clients-svg-color);
    transition: var(--transition-function);
    
    @media (min-width: $tablet) and (max-width: $desktop) {
        max-width: 226px;
    }
    
    @media (min-width: $desktop) {
        max-width: 170px;
    }

&:hover,
&:focus {
    color: var(--accent-text);
    border: 1px solid var(--accent-text);
    transition: var(--transition-function);
}
}
  
.clients__icon {
    fill: currentColor;
}
  