/* Главный шрифт документа */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 60px;

    @media (min-width: $tablet) {
    padding-top: 80px;
}
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
  }

ul {
    list-style: none;
}


*, *::before, *::after {
    box-sizing: border-box;
}
a,
p,
ul,
li {
    display: block;
    margin: 0px;
    padding: 0px;
}
pre {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

main {
    background-color: var(--white-text);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container */
.container {

    @media (min-width: 320px) {
    max-width: 480px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    
    @media (min-width: $tablet) {
        max-width: 768px;
    }
    
    @media (min-width: $desktop) {
        max-width: 1200px;
    }
}