/* Стили Футера */
.site-footer {
    background-color: var(--black-background);
}

.site-footer__container {
    
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: $tablet) and (max-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}
    @media (min-width: $desktop) {
        display: flex;
        justify-content: center;
        align-items: center;

}
}


.footer-contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact {
    text-align: center;
    

    @media (max-width: $desktop) {
    margin-bottom: 60px;
}

    @media (min-width: $desktop) {
        margin-right: 70px;
      }
}

.site-address__logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white-text);
}

.site-address__color {
    color: var(--blue-text)
}

.footer-contact__text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-text);
}

.footer-contact__item {
    
    margin-top: 9px;
    margin-bottom: 0px;
}

.footer-contact__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-text-op60);

    
   
}

.network {
    text-align: center;
    margin-bottom: 60px;
    
}

.network__menu {
    display: flex;
    justify-content: center;
}

.network__title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text);
}

.network__item {
    display: flex;

    &:not(:last-child) {
    margin-right: 10px;
}
}
  
.network__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--white-text);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: var(--transition-function);

&:hover,
&:focus {
    background-color: var(--accent-text);
    border-radius: 50%;
    color: var(--white-text);
    transition: var(--transition-function);
}
}
  
.network__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  


.form {
    text-align: center;
    @media (min-width: $desktop) {
        margin-left: 93px;
      }
    
}

.form__thumb {
    text-align: center;
}
    
.form__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--white-text);
    @media (min-width: $desktop) {
        text-align: start;
    }
}

.form__box,
.form__thumb {
    display: block;
    text-align: center;

    @media (min-width: $desktop) {
        display: flex;
    }
}

.form__label {
    max-width: 450px;

    @media (min-width: $desktop) {
        max-width: 358px;
    }
}

.form__input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    width: 450px;
    
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;

    color: var(--white-text);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;

    background: transparent;
    transition: border-color var(--transition-function);

&:focus {
    outline: none;
    border-color: var(--accent-text);
}
    @media (min-width: $tablet) and (max-width: $desktop) {
        max-width: 450px;
        display: flex;
}

    @media (min-width: $desktop) {
        max-width: 358px;
}
}


    


.form__btn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    position: relative;
    width: 200px;
    padding: 10px 62px 10px 28px;
    align-items: center;
    background: var(--accent-text);
    
    color: var(--white-text);
    
    @media (min-width: $desktop) {
        margin-left: 12px;
        display: flex;
        justify-content: space-between;
        height: 50px;
}
}

.form__svg {
    display: flex;
    position: absolute;
    right: 28px;
    /* z-index: 1; */
    top: 13px;
    width: 24px;
    height: 24px;
}

