/* ===HEADER=== */
.site-header {
    background-color: var(--white-text);
    box-sizing: content-box;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid;
    border-color: var(--grey-border);
    
    @media (min-width: $tablet) {
        min-height: 80px;
    }
}

.site-header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

.site-menu {
    display: none;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: $tablet) and (max-width: $desktop) {
        display: flex;
    }
    @media (min-width: $desktop) {
        display: flex;
    }

}


    
}
.logo {
    
    padding-top: 16px;
    padding-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-text-logo);

    @media (min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media (min-width: $desktop) {
        padding-top: 24px;
        padding-bottom: 24px;
    }

}

.logotip {
    color: var(--blue-text)
}

/* Стили шапки */

.site-menu {
    max-width: 294px;
    max-height: 16px;
    margin-left: 93px;

    transition: var(--transition-function);
    }
    

.site-menu__link.site-menu__link--current{
    color: var(--blue-text);
    position: relative;

&::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-text);
    border-radius: 2px;
    bottom: -1px;
}
}


.site-menu__item {
    margin-right: 50px;
}

.site-menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-menu__link,
.site-contact__link {
    display: block;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-text);

    transition: var(--transition-function);

&:hover,
&:focus {
    color: var(--blue-text);
    transition: var(--transition-function);  
}
}



.site-contact {
    box-sizing: content-box;
    margin-left: 84px;
    display: none;
    @media (min-width: $tablet) and (max-width: $desktop) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    @media (min-width: $desktop) {
        display: flex;
        margin-left: 305px;
    }
}

.site-contact__item {
    display: flex;
    justify-content: start;
    align-items: center;

&:first-child {
    
    @media (min-width: $tablet) and (max-width: $desktop) {
        margin-bottom: 10px;
}
    @media (min-width: $desktop) {
        margin-right: 30px;
    }
}
}

.site-contact__link {
    display: flex;
    align-items: center;
    color: var(--grey-text);

&:hover,
&:focus {
    color: var(--blue-text);
    transition: var(--transition-function);
}
}




.site-contact__svg{
    fill: var(--accent-text);
    margin-right: 10px;
    fill:  currentColor;
    
}