

/* ===Герой=== */
.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--black-background);
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/hero.jpg);
}


.hero__container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    color: var(--white-text);
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__btn {
    border: none;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--white-text);
    background-color: var(--accent-text);

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    
}

/* ===modal=== */
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: var(--transition-function);
    
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;

    background: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: var(--transition-function);
} 


.backdrop-modal {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 528px;
    min-height: 581px;
    padding: 40px;
      
    border-radius: 4px;
    background-color: var(--white-text);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: var(--transition-function);
}
  
.is-hidden .hero-modal {
    transform: translate(-50%, -50%) scale(1.25);
    transition: var(--transition-function);
}

.backdrop-modal__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
      
    width: 30px;
    height: 30px;
    
    background: var(--white-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: var(--transition-function);
}
.backdrop-modal__svg {
    transition: fill var(--transition-function);
}
      
.backdrop-modal__svg:hover,
.backdrop-modal__svg:focus {
    /* outline: none; */
    fill: var(--accent-text);
    transition: var(--transition-function);
}


.backdrop-modal__button:active {
    outline: none;
}



.backdrop-modal__title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-text);
}

.order__label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--grey-text);
}

.checkbox__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--grey-text);

    margin-left: 7px;
}

.checkbox__link {
    text-decoration: underline;
    color: var(--accent-text);
    
}

.order__input {
    padding-left: 42px;
    transition: var(--transition-function);
}





.order {
    margin-top: 10px;
}


.order__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: inherit;
    height: 40px;
    margin-top: 4px;
}

.order__input--textarea {
    max-width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
}

.order__thumb {
  position: relative;
}
  
.order__svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: var(--transition-function);
}

.order__input:focus + .order__svg {
    fill: var(--accent-text);
    transition: var(--transition-function);
}

.order__input:focus {
    border-color: var(--accent-text);
    outline: none;
}

.order--check {
    margin: 20px 0 30px 12px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox__input {
    display: flex;
    align-items: center;
    
    position: absolute;
    appearance: none;

    width: 16px;
    height: 15px;
    border: 2px solid var(--black-text);
    border-radius: 2px;
}





.checkbox__image {
    cursor: pointer;
    fill: none;
    /* border: 2px solid var(--main-text); */
    transition: fill var(--transition-function),
    opacity var(--transition-function);
    opacity: 0;
    z-index: 1;

}

.checkbox__input:checked ~ .checkbox__image {
    opacity: 1;
    border: none; 
}

.checkbox__input:checked ~ .checkbox__icon {
    
    border-color: var(--accent-text);
    background-color: var(--accent-text);
    background-image: url("./images/icons.svg#check-modal");
    background-size: contain;
    background-origin: border-box;

    transition: var(--transition-function);
}

.send-modal__btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border: none;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--white-text);
    background-color: var(--accent-text);

    
    border-radius: 4px;
    padding: 10px 55px;
    min-width: 200px;
}

.send-modal {
    display: flex;
    justify-content: center;
}
  
  /* ===FEATURES=== */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
 
}

.features__name {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
}

.features__item {
    flex-basis: calc(100% / 4 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
}

.features__thumb {
    display: flex;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}


.features__title {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-text);
    margin-bottom: 10px;
}

.features__pre {
   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-text);
} 


/* ===ЧЕМ ЗАНИМАЕМСЯ=== */
.passion {
    padding-bottom: 94px;
}

.passion__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--black-text);

    display: flex;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 50px;
}


.passion__name {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
}

.passion__item {
    flex-basis: calc(100% / 3 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
}

.passion__card {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    bottom: 0;
    padding: 27px 82px;

    color: var(--white-text);
    background: rgba(47, 48, 58, 0.8);
}

.passion__thumb {
    position: relative;
    display: inline-block;
}




/* ===Команда=== */
.team {
    background-color: var(--grey-team-background);
    padding-top: 94px;
    padding-bottom: 94px;
    
}


.team__title {
  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--black-text); 

    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.team__name {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
}


.team__item {
    flex-basis: calc(100% / 4 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);

    background-color: var(--white-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.worker__title,
.worker__text {
    display: flex;
    justify-content: center;
}

.worker__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;

    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--black-text);
}


.worker {
    padding: 30px 32px;
}

.worker__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--grey-text);
    margin-bottom: 16px;
}


.worker__menu {
    display: flex;
    align-items: center;

}
    
.worker__item:not(:last-child) {
    margin-right: 10px;
}
    
.worker__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--clients-svg-color);
    transition: var(--transition-function);
}
    
.worker__link:hover,
.worker__link:focus {
    background-color: var(--accent-text);
    border-radius: 50%;
    color: var(--white-text);
    transition: var(--transition-function);
}
    
.worker__svg {
    fill: currentColor;
}


    /* Clients */
.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    text-align: center;
}

.clients__title {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    line-height: 1.666;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.clients__name {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
}
  
.clients__item {
    margin-right: 30px;
    margin-top: 30px;
}

  
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  
    color: var(--clients-svg-color);
  
    border-radius: 4px;
    border: 1px solid var(--clients-svg-color);
    transition: var(--transition-function);
}
  
.clients__logo {
    fill: currentColor;
    
}
  
.clients__link:hover,
.clients__link:focus {
    color:var(--accent-text);
    border: 1px solid var(--accent-text);
    transition: var(--transition-function);
}

