

/* ==Меню== */
.menu{
    padding-top: 94px;
    padding-bottom: 94px;
}

.menu__list {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.menu__item:not(:last-child) {
    margin-right: 8px
}


.menu__link {
    background-color: var(--grey-team-background);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    border-radius: 4px;
    padding: 6px 22px;
    color: var(--black-text);
    transition: var(--transition-function);
}

.menu__link:hover,
.menu__link:focus {
    background-color: var(--blue-background);
    color: var(--white-text);
    box-shadow: 
    0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    transition: var(--transition-function);

}

/* ==Постери== */

.poster-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
    
}

.poster-list__item {
    max-width: 370px;
    flex-basis: calc(100% / 3 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
    border: 1px solid;
    border-color: var(--grey-border);
    transition: var(--transition-function);
}

.poster-card__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.poster-content {
    padding: 20px 24px;
}

.poster-content__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin: 0px;
    padding: 0px;
    margin-bottom: 4px;
    color: var(--black-text);
}

.poster-content__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

.poster-card {
    position: relative;
    overflow: hidden;

}
.poster-overlay {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background: var(--overlflow-function);
}
.poster-overlay {
    position: absolute;
    display: inline-block;
    
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    opacity: 1;
    transition: var(--transition-function);
    transform: translateY(101%);
    z-index: 1;
}

.poster-overlay__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-text);
    
}

.poster-list__item:hover .poster-overlay,
.poster-list__item:focus .poster-overlay {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
    transition: var(--transition-function);
    
    
}

.poster-list__item:hover,
.poster-list__item:focus {
    transition: var(--transition-function);
    box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}