/* ===HEADER=== */
.site-header {
    background-color: var(--white-text);
    box-sizing: content-box;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid;
    border-color: var(--grey-border);
    
}

.site-header__nav{
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
    
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-text-logo);
}

.logotip {
    color: var(--blue-text)
}

/* Стили шапки */

.site-menu {
    max-width: 294px;
    max-height: 16px;
    margin-left: 93px;

    transition: var(--transition-function);
    }
    

.site-menu__link.site-menu__link--current{
    color: var(--blue-text);
    position: relative;

&::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-text);
    border-radius: 2px;
    bottom: -1px;
}
}


.site-menu__item {
    margin-right: 50px;
}

.site-menu__link,
.site-contact__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-text);

    transition: var(--transition-function);

&:hover,
&:focus {
    color: var(--blue-text);
    transition: var(--transition-function);  
}
}


.site-contact {
    box-sizing: content-box;
    // margin-left: 305px;


}

.site-contact__item {
    // display: flex;
    // justify-content: center;
    // align-items: center;

&:first-child {
    margin-right: 30px;
}
}

.site-contact__link {
    display: flex;
    align-items: center;
    color: var(--grey-text);

&:hover,
&:focus {
    color: var(--blue-text);
    transition: var(--transition-function);
}
}

.site-contact {
    display: inline-flex;
    justify-content: center;
    align-items: center;
 } 



.site-contact__svg{
    fill: var(--accent-text);
    margin-right: 10px;
    fill:  currentColor;
    
}